{% extends 'articles/base.html' %}
{% block title %}Mes abonnements{% endblock title %}

{% block content %}
    {% for post in posts %}
        {% if post.user in followed.all%}
        <div class="card" style="width: 35rem;">
            <div class="post_head">
                <div class="post_content_type">
                    {% if post.content_type == "ticket" and post.review_posted %}
                    <h5 class="card-title text-primary">Ticket</h5>
                    <small class="text-muted">Le {{ post.time_created }} par <a href="{% url 'profil_page' post.user.id %}">{{ post.user.username }}</a></small>
                    <br>
                    <p class="badge bg-secondary">Review publiée</p>
                    
                    {% elif post.content_type == "ticket" and post.review_posted is False %}
                    <h5 class="card-title text-primary">Ticket</h5>
                    <small class="text-muted">Le {{ post.time_created }} par <a href="{% url 'profil_page' post.user.id %}">{{ post.user.username }}</a></small>
                    <br>
                    <span class="badge bg-secondary">En attente de review.</span>
                    {% else %}
                    <h5 class="card-title text-info">Review</h5>
                    <small class="text-muted">Le {{ post.time_created }} par <a href="{% url 'profil_page' post.user.id %}">{{ post.user.username }}</a></small>
                    {% endif %}
                    
                    <br><br>
                </div>
            </div>

                {% if post.picture.url != None %}
                <img class="card-img-top" src="{{ post.picture.url }}" alt="Image">
                {% endif %}

            <div class="card-body">
            <h5 class="card-title">{{ post.headline }}</h5>
            <br>
            {% if post.content_type == "review" and post.ticket != None %}
            <img class="card-img-top" src="{{ post.ticket.picture.url }}" alt="Image">
            <br><br>
            <h5 class="card-title">Note : {{ post.rating }}</h5>
            <small class="text-muted">sur <a href="{% url 'ticket_detail' post.ticket.id %}">{{ post.ticket.headline }}</a> de <a href="{% url 'profil_page' post.ticket.user.id %}">{{ post.ticket.user.username }}</a></small>
            
            
            {% elif post.content_type == "review" %}
            <h5 class="card-title">Note : {{ post.rating }}</h5>
            {% endif %}
            <br><br>
            <p class="card-text">{{ post.body }}</p>
            <br>
            {% if post.content_type != "review" %}
                {% if post.review_posted %}
                    <a href="{% url 'ticket_detail' post.id %}" class="btn btn-info">Voir la review</a>
                {% endif %}
                {% if post.review_posted is False %}
                <a href="{% url 'review_upload' post.id %}" class="btn btn-primary">Publier une review</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
        <br><br><br>
        {% endif %}

    {% endfor %}


{% endblock content %}