{% extends 'articles/base.html' %}

{% block title %}Suppression{% endblock title %}
{% block content %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <form>
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Supprimer le post ?</h1>
                <button type="submit" formaction="{% url 'home' %}" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body py-0">
                <p>Si vous supprimez ce post, les autres utilisateurs ne le verront plus.</p>
              </div>
              <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <button type="submit" formaction="{% url 'review_delete' review.id %}" class="btn btn-lg btn-primary">Supprimer</button>
                <button type="submit" formaction="{% url 'home' %}" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}