#main_container {
    position: relative;
    min-height: 100vh;
}

#contain_wrap {
    padding-bottom: 5rem;
}

.banner {
    background-color: rgb(30, 30, 30);
}


.post_content_type {
    position: relative;
    padding-left: 25px;
    padding-top: 25px;
}