{% extends 'articles/base.html' %}
{% block title %}Profil{% endblock title %}

{% block content %}
<img src="{{ user_check.profile_picture.url }}" alt="Image de profil">
<h1>Profil de {{ user_check.username }}</h1>
{% if user_check == request.user %}
<a href="{% url 'password_change' %}">Changer de mot de passe</a>
{% endif %}
<br><br><br>

{% if user_check != request.user %}
    {% if user_check in request.user.followers.all %}
        <form method="post" action="{% url 'unfollow_user' user_id=user_check.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Ne plus suivre</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'follow_user' user_id=user_check.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Suivre</button>
        </form>
    {% endif %}
{% endif %}
<br><br>
<hr>
<div class="article-metadata">
    <h1>Tickets postés</h1>
    <small class="text-muted">{{ tickets.count }} ticket(s)</small>
</div>

<br>
{% for ticket in tickets %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ ticket.time_created }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'ticket_detail' ticket.id %}">{{ ticket.headline }}</a></h2>
      <p class="article-content">{{ ticket.body }}</p>
    </div>
  </article>
{% comment %} <h2><a href="{% url 'ticket_detail' ticket.id %}">{{ ticket.headline }}</a></h2>
<p>{{ ticket.body }}</p>
<p>le {{ ticket.time_created }}</p>
<HR ALIGN=RIGHT WIDTH="40%">
<br><br> {% endcomment %}
{% endfor %}
<hr>
<br><br>
<h1>Reviews postées</h1>
<small class="text-muted">{{ reviews.count }} review(s).</small>
<br>
{% for review in reviews  %}
{% if review.ticket != null %}
<h2>Note :{{ review.rating }} sur <a href="{% url 'ticket_detail' review.ticket.id %}">{{ review.ticket.headline }}</a></h2>
{% else %}
<h2>Note :{{ review.rating }}</h2>
{% if review.picture.url is not null  %}
<img src="{{ review.picture.url }}" alt="Image">
{% endif %}
{% endif %}
<h3>{{ review.headline }}</h3>
<p>{{ review.body }}</p>
<p>le {{ review.time_created }}</p>
<HR ALIGN=RIGHT WIDTH="40%">
<br><br>
{% endfor %}
{% endblock content %}